version: '3'

volumes:
    composer_cache:
        driver: local
    postgres_data:
        driver: local

services:
    db:
        image: postgres:11-alpine
        volumes:
            - postgres_data:/var/lib/postgresql/data
    web:
        image: nginx:1.15-alpine
        links:
            - php
        ports:
            - 80:80
        volumes:
            - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf:ro
            - ./public:/app/public:ro
    php:
        build: docker/php
        user: "${UID}:${GID}"
        environment:
            - APP_ENABLE_WEBHOOKS=1
            - APP_ENABLE_EXTERNAL_SEARCH=1
            - APP_ENV=dev
            - APP_SECRET=very secret, wow!
            - COMPOSER_HOME=/.composer
            - DATABASE_URL=pgsql://postgres@db/postgres?serverVersion=11
            - NO_REPLY_ADDRESS=no-reply@example.com
            - MAILER_URL=null://localhost
            - SITE_NAME=Postmill
        links:
            - db
        volumes:
            - composer_cache:/.composer
            - ./:/app
