{% extends 'forum/base.html.twig' %}

{% block title submission.title %}

{% block sidebar_bottom %}
  <section class="card pad vertical-pad vp vp--guttered">
    <p class="no-margin">
      <strong>{{ 'submissions.total_votes'|transchoice(submission.votes|length) }}</strong>
      {{ 'submissions.vote_stats'|trans({'%up%': submission.upvotes, '%down%': submission.downvotes}) }}
    </p>

    <p class="no-margin">{{ 'item.short_url'|trans({
      '%url%': '<a href="%s" rel="nofollow"><kbd>%s</kbd></a>'|format(
        url('submission_shortcut', {id: submission.id})|e,
        url('submission_shortcut', {id: submission.id})|replace({
          'https://www.': '',
          'https://': '',
          'http://www.': '',
          'http://': ''
        })|e
      )})|raw
    }}</p>
  </section>

  {{ parent() }}
{% endblock %}
