.form-control {
  background-color: var(--bleached);
  border: solid var(--pixel) var(--dimmed);
  color: var(--main);
  display: block;
  padding: 0.5rem;

  &[type="text"],
  &[type="password"],
  &[type="email"],
  &[type="url"] {
    -webkit-appearance: none;
    border-radius: 0;
    max-width: 100%;

    &:not([size]) {
      width: 100%;
    }
  }

  &[type="date"],
  &[type="time"] {
    -webkit-appearance: none;
    border-radius: 0;
    min-height: calc(1rem + var(--font-size) * var(--line-height));
    min-width: 5rem; // fix for iOS
  }

  select&:not([multiple]) {
    height: calc(1rem + var(--font-size) * var(--line-height));
  }

  textarea& {
    -webkit-appearance: none; // disable ugly shade on iOS
    border-radius: 0; // disable rounded corners on iOS
    min-height: calc(1rem + var(--font-size) * var(--line-height));
    resize: vertical;
    width: 100%;
  }

  &:focus {
    border: solid var(--pixel) var(--accent);
    outline: none;
  }

  &:invalid {
    box-shadow: unset; // remove default browser style
  }

  &[disabled] {
    background-color: var(--general-shade);
    color: var(--dimmed);
  }

  &[readonly] {
    color: var(--dimmed);
  }
}
