{% extends 'base.html.twig' %}

{% block title 'flash.no_password_resets'|trans %}

{% block body %}
  <p class="neutral-bg pad vertical-pad no-margin">{{ 'flash.no_password_resets'|trans }}</p>
{% endblock %}
