{% use '_layouts/comment.html.twig' %}

{% macro comment(comment, options) %}
  {%- with {
    comment: comment,
    level: 1,
    recurse: options.recurse ?? false,
    show_context: options.show_context ?? false,
    show_form: options.show_form ?? false,
  } only -%}
    {{- block('comment') -}}
  {%- endwith -%}
{% endmacro %}

{% macro comment_form(submission, parent) %}
  {% if submission.locked and not is_granted('ROLE_ADMIN') %}
    <p class="no-margin neutral-bg pad vertical-pad submission-locked-notice">
      {{- 'flash.submission_is_locked'|trans -}}
    </p>
  {% elseif is_granted('ROLE_USER') %}
    {{ render(controller('App\\Controller\\CommentController::commentForm', {
      forumName: submission.forum.name,
      submissionId: submission.id,
      commentId: parent.id ?? null
    })) }}
  {% else %}
    <p class="neutral-bg pad vertical-pad no-margin">{{ 'comments.not_logged_in'|trans({
      '%login_link%': '<a href="%s">%s</a>'|format(
        path('login'),
        'comments.not_logged_in_login_link_label'|trans
      ),
      '%register_link%': '<a href="%s">%s</a>'|format(
        path('registration'),
        'comments.not_logged_in_register_link_label'|trans
      ),
    })|raw }}</p>
  {% endif %}
{% endmacro %}
