@import '../_mixins';

.menu-link {
  .unbuttonize();
  cursor: pointer; // for buttons
  color: var(--text);
  display: block;
  padding: 0.5rem 1rem;
  width: 100%; // for buttons

  &--active {
    position: relative;

    &::before {
      content: '\2022'; // bullet
      left: 0;
      position: absolute;
      text-align: center;
      width: 1rem;
    }
  }

  &:hover {
    background-color: var(--accent);
    color: var(--accent-fg);
    text-decoration: none;
  }
}
