@import '~typeface-roboto';

:root {
  --font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --line-height: 1.25;
  --pixel: 0.0625rem;
  --main: #000;
  --muted: #505050;
  --dimmed: #888;
  --washed: #f0f0f0;
  --bleached: #fff;
  --accent: #c00;
  --text-on-accent: #fff;
  --accent-shade: rgba(0, 0, 0, 0.1);
  --general-shade: var(--accent-shade);
  --link-color: #c00;
  --visited-link: #b38080;
  --sticky: var(--good-fg);
  --bad-fg: #f00;
  --bad-bg: #fdd;
  --good-bg: #dfd;
  --good-fg: #0a0;
  --neutral-bg: #ddf;
  --neutral-fg: #44f;
  --vote-up: orange;
  --vote-down: var(--neutral-fg);
  --notification: #f60;
  --logo1: maroon;
  --logo2: silver;
}
