@import (reference) '../_mixins';
@import (reference) '../_variables';

.site-nav {
  background-color: var(--primary);
  display: flex;
  margin-bottom: 1rem;

  &__link {
    .unbuttonize();
    color: var(--primary-fg);
    cursor: pointer;
    display: inline-block;
    font-size: @nav-font-size;
    padding: 0.875em 1em;
    position: relative;

    &--active::after {
      background-color: var(--primary-fg);
      bottom: 1px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__has-notifications {
    background-color: var(--notification);
  }

  &__search-input {
    border-radius: 8rem !important;
    padding-left: 2.5rem !important;
    width: 100% !important;

    &:not(:focus) {
      background-color: inherit !important;
      border-color: var(--primary-fg) !important;
      color: var(--primary-fg) !important;
    }
  }

  &__search-label {
    cursor: text;
    padding: 0.5rem 0.75rem;
    position: absolute;
    z-index: 1;
  }

  &__search-row:not(:focus-within) &__search-label {
    color: var(--primary-fg);
  }

  &__mobile-toggle:hover {
    background-color: var(--primary-alt);
  }

  &__menu {
    display: flex;
  }

  // desktop styles
  @media screen and (min-width: @desktop-min-width) {
    padding: 0 1rem;

    &__search {
      align-items: center;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      padding: 0 0.5rem;
    }
  }

  // mobile styles
  @media not screen and (min-width: @desktop-min-width) {
    > * {
      flex: 1 0 auto;
    }

    &__link {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 100%;
    }

    &__mobile-hidden:hover {
      background-color: var(--primary-alt);
    }

    &__mobile-toggle:not(:hover) + :not(:hover) {
      display: none;
    }

    &__mobile-toggle + * {
      background-color: var(--primary-alt);
      position: absolute;
      left: 0;
      right: 0;
    }

    &__header {
      order: 1;
    }

    &__search {
      display: block;
      order: 2;
    }

    &__user-menu {
      flex: 3 0 auto;
      order: 3;

      > * {
        flex: 1 0 auto;
      }
    }

    &__main-menu-container {
      order: 4;
    }

    &__main-menu {
      flex-direction: column;
    }

    &__main-menu &__link {
      padding: 0.5rem 1rem;
      text-align: left;

      &--active::after {
        top: 0;
        left: 2px;
        bottom: unset;
        width: 2px;
        height: 100%;
      }
    }

    &__link {
      display: block;
    }

    &__search-row {
      padding: 0.5rem 1rem;
    }
  }

  .no-js & :hover > &__link.dropdown__toggle,
  .js & .dropdown--expanded > &__link.dropdown__toggle {
    background-color: var(--primary-alt);
  }
}
