@import (reference) '../_mixins';
@import (reference) '../_variables';

.site-nav {
  background-color: var(--primary);
  display: flex;
  margin-bottom: 1rem;

  &__has-notifications {
    background-color: var(--notification);
  }

  &__link {
    color: var(--primary-fg);
    display: inline-block;
    font-size: @nav-font-size;
    padding: 0.875rem;
  }

  &__search {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  &__search-input {
    border: none !important;
    border-radius: 0 4rem 4rem 0;
    padding-left: 0 !important;
  }

  &__search-label {
    background-color: var(--bg-page);
    border-radius: 4rem 0 0 4rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  &__search-row {
    display: flex;
  }

  &__mobile-toggle {
    .unbuttonize();

    &:hover {
      background-color: var(--primary-alt);
    }
  }

  &__main-menu {
    display: flex;
  }

  &__user-menu {
    display: flex;
  }

  @media screen and (min-width: @desktop-min-width) {
    padding: 0 1rem;
  }

  @media not screen and (min-width: @desktop-min-width) {
    &__mobile-hidden:hover {
      background-color: var(--primary-alt);
    }

    &__mobile-toggle:not(:hover) + :not(:hover) {
      display: none;
    }

    &__mobile-toggle + * {
      background-color: var(--primary-alt);
      position: absolute;
      left: 0;
      right: 0;
    }

    &__header {
      order: 1;
    }

    &__search {
      display: block;
      margin-left: 0;
      order: 2;
    }

    &__user-menu {
      order: 3;
    }

    &__main-menu-container {
      order: 4;
    }

    &__main-menu {
      flex-direction: column;
    }

    &__link {
      display: block;
    }

    &__search-row {
      padding: 0.5rem 1rem;
    }

    &__search-input {
      width: 100%;
    }
  }

  .no-js &__item.dropdown:hover > .dropdown__toggle,
  .js &__item.dropdown--expanded > .dropdown__toggle {
    background-color: var(--primary-alt);
  }
}
