{% extends 'front/base.html.twig' %}

{% block sidebar_bottom_classes 'container' %}

{% block sidebar_bottom %}
  <section class="card vp vp--guttered vertical-pad">
    <h4 class="no-margin pad">{{ 'front.featured_forums'|trans }}</h4>

    {% if forums|length > 0 %}
      <ul class="unlistify">
        {% for name in forums %}
          <li><a href="{{ path('forum', {forum_name: name}) }}" class="menu-link">{{ name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="pad">{{ 'front.no_forums'|trans }}</p>
    {% endif %}
  </section>
{% endblock sidebar_bottom %}
