{% extends 'base.html.twig' %}
{% from 'message/_macros.html.twig' import message %}

{% block title thread.title %}

{% block main_classes 'container vp vp--guttered' %}
{% block body %}
  <div class="card vp vp--bordered">
    {{ message(thread) }}

    {% for reply in thread.replies %}
      {{ message(reply) }}
    {% endfor %}
  </div>

  {% if is_granted('reply', thread) %}
    <div class="pad">
      {{ render(controller('App\\Controller\\MessageController::replyForm', {threadId: thread.id})) }}
    </div>
  {% endif %}
{% endblock %}
