{% set links = {
  notifications: { path: path('notifications'), label: 'nav.notifications'|trans },
  messages: { path: path('message_list'), label: 'nav.messages'|trans },
} %}

<nav class="tabs">
  <ul class="tabs__bar unlistify">
    {% for name, link in links %}
      <li>
        <a href="{{ link.path }}" class="tab {{ active == name ? 'tab--active' }}">
          {{- link.label -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
