<nav class="tabs user-nav">
  <ul class="unlistify tabs__bar">
    {% for tab in [
      { path: 'user', label: 'label.overview' },
      { path: 'user_submissions', label: 'user.submissions' },
      { path: 'user_comments', label: 'user.comments' },
    ] %}
      <li class="tabs__tab {{ tab.path == current ? 'tabs__tab--active' }}">
        <a href="{{ path(tab.path, {username: user.username}) }}"
           class="tab tabs__link {{ tab.path == current ? 'tab--active tabs__link--active' }}">
          {{- tab.label|trans -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
