{% extends 'user/base.html.twig' %}
{% from 'user/_macros.html.twig' import user_link %}

{% block title 'title.blocking_user'|trans({'%user%': '/u/'~user.username}) %}

{% block main_classes 'container vp vp--guttered vertical-pad' %}

{% block body %}
  <h1 class="no-margin">{{ 'title.blocking_user'|trans({
    '%user%': user_link(user, {prefix: true}),
  })|raw }}</h1>

  <p class="neutral-bg no-margin pad vertical-pad">{{ 'help.block_users'|trans }}</p>

  {{ form(form) }}
{% endblock %}

