{% extends 'base.html.twig' %}
{% from '_macros/icon.html.twig' import icon %}

{% block title 'edit_user.title'|trans({'%username%': user.username}) %}

{% block page_classes %}edit-user-page{% endblock %}

{% block body %}
  <h1 class="page-heading break-text">{{ block('title') }}</h1>

  {% if app.user != user %}
    <div class="alert alert--warn">
      <p>
        <span class="fg-orange">{{ icon('attention') }}</span>
        {{ 'flash.editing_credentials_of_other_user'|trans }}
      </p>
    </div>
  {% endif %}

  {% include 'user/_form.html.twig' %}
{% endblock %}

