{% extends 'user/base.html.twig' %}

{% block title %}{{ 'edit_user.title'|trans({'%username%': user.username}) }}{% endblock %}

{% block main_classes 'container pad vertical-pad' %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% include 'user/_form.html.twig' %}
{% endblock %}

