{% extends 'base.html.twig' %}
{% use '_layouts/single_column.html.twig' %}

{% block main_classes 'container pad vertical-pad' %}
{% block title 'title.sign_up'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% include 'user/_form.html.twig' %}
{% endblock %}
